<button mat-button class="back-button" (click)="goBack()" style="color: white;">← Back</button>

<div class="appointment-list-container">
  <div class="header-row">
    <h2>Appointments</h2>
    <button mat-raised-button color="primary" (click)="redirect()">Add</button>
  </div>

  <mat-form-field appearance="outline" class="search-container">
    <mat-label>Search appointments</mat-label>
    <input matInput [formControl]="searchControl" placeholder="Search by patient, doctor or status" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="appointmentID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let appointment">{{ appointment.appointmentID }}</td>
    </ng-container>

    <ng-container matColumnDef="patientName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient</th>
      <td mat-cell *matCellDef="let appointment" [innerHTML]="appointment.patientName | highlightPipe:(searchControl.value ?? '')"></td>
    </ng-container>

    <ng-container matColumnDef="doctorName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Doctor</th>
      <td mat-cell *matCellDef="let appointment" [innerHTML]="appointment.doctorName | highlightPipe:(searchControl.value ?? '')"></td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
      <td mat-cell *matCellDef="let appointment">{{ appointment.startTime | date:'short' }}</td>
    </ng-container>

    <ng-container matColumnDef="durationMinutes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
      <td mat-cell *matCellDef="let appointment">{{ appointment.durationMinutes }} min</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let appointment" [innerHTML]="appointment.status | highlightPipe:(searchControl.value ?? '')"></td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
      <td mat-cell *matCellDef="let appointment">{{ appointment.createdAt | date:'mediumDate' }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let appointment">
        @if(role=="Admin" || role=="Clinician"){
        <button mat-stroked-button color="primary" (click)="goToVisitNotes(appointment.appointmentID)" [disabled]="appointment.status!=='Completed'" class="edit-btn" style="color: white;">View Notes</button>
        }
        @if(role=="Admin" || role=="Staff"){
        <button mat-stroked-button color="accent" (click)="editAppointment(appointment.appointmentID)" class="edit-btn" style="color: white; margin-left: 5px;">Edit</button>
        <button mat-stroked-button color="warn" (click)="deleteAppointment(appointment.appointmentID)" class="del-btn" style="color: white;">Delete</button>
        <button mat-stroked-button color="accent" (click)="generateBill(appointment.appointmentID)" [disabled]="appointment.status!=='Completed'" class="bill-btn" style="color: white; margin-left: 5px; ">GenerateBill</button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>

</div>
