 <header>
      <h1>Sign Up</h1>
    </header>

    <div class="container auth-container">
      <form (ngSubmit)="onSignup()" #signupForm="ngForm">
        <label>Username:</label>
        <input type="text" [(ngModel)]="user.username" name="username" required>

        <label>Password:</label>
        <input type="password" [(ngModel)]="password" name="password" required>

        <label>Role:</label>
        <select [(ngModel)]="user.roleID" name="roleID" required>
          <option value="">-- Select a Role --</option>
          <option value="1">Admin</option>
          <option value="2">Receptionist</option>
          <option value="3">Doctor</option>
        </select>

        <label>First Name:</label>
        <input type="text" [(ngModel)]="user.firstName" name="firstName" appLetterOnly required >

        <label>Last Name:</label>
        <input type="text" [(ngModel)]="user.lastName" name="lastName" appLetterOnly required>

        <button type="submit" class="btn btn-primary" [disabled]="!signupForm.form.valid">Sign Up</button>
        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </form>
    </div>