<nav style="
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  background-color: #1976d2; 
  color: white; 
  padding: 10px 20px;
  border-radius: 6px;
">
  <span style="font-size: 20px; font-weight: bold;">
    Contact List Assignment
  </span>

  <button 
    style="
      background-color: white; 
      color: #1976d2; 
      border: none; 
      padding: 8px 16px; 
      border-radius: 4px; 
      cursor: pointer; 
      font-weight: 500;
    " 
    routerLink="/contacts/new">
    Add Contact
  </button>
</nav>

<div>
  <app-search-functionality (search)="searchEvent($event)"></app-search-functionality>
</div>

<div class="maincomponent" style="width: 100%; height: auto;">
 <app-contact-list 
  (id)="displayCardDetails($event)"
  [searchTerm]="currentSearch"  
  class="left-side">
</app-contact-list>

  <div class="right-side">
    <app-contact-details [contact]="selectedContact" 
    (Toggle)="toggle($event)"
    ></app-contact-details>
  </div>
</div>



